<!DOCTYPE html>
<html>
<head>
    <title>Now book your hotels</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
     <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/homepage">Abhigo</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="#">Deals</a></li>
              <li><a href="userpage<%= Userid %>/profile">My Profile</a></li>
                <li><a href="">Help</a></li>
            </ul>
          </div>
        </nav>
    
    <h1>
        
        User ID:<%= Userid %>
        Place ID:<%= Placeid %>
        Hotel ID:<%= Hotelid %>
        Name : <%= Name %> 
        
    </h1><br/>
    
    <form action="/userpage<%= Userid %>/place<%= Placeid %>/hotel<%= Hotelid %>/check" method="POST">
    <select  name="Date1" ><option value ="<%= Date1 %>">In: <%= Date1 %> </option></select>
    <select  name="Date2" ><option value ="<%= Date2 %>">Out: <%= Date2 %> </option></select>
    <select  name="rooms" ><option value ="<%= n %>">Number of rooms available: <%= n %> </option></select>
    <label>Number of rooms required :</label>
    <input type="number" placeholder="Rooms" name="nof" , required /> <br/>
    <input type="submit" value="Done"><br>
    </form>
    
   
</body>
</html>